@font-face {
	font-family: 'Hauora-Regular';
	src: url(../../fonts/hauora_sans/web/Hauora-Regular.woff2);

	src:
		url(../../fonts/hauora_sans/web/Hauora-Regular.woff) format('woff'),
        url(../../fonts/hauora_sans/otf/Hauora-Regular.otf) format('otf'),
        url(../../fonts/hauora_sans/ttf/Hauora-Regular.ttf) format('ttf');

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hauora-Bold';
	src: url(../../fonts/hauora_sans/web/Hauora-Bold.woff2);

	src:
		url(../../fonts/hauora_sans/web/Hauora-Bold.woff) format('woff'),
        url(../../fonts/hauora_sans/otf/Hauora-Bold.otf) format('otf'),
        url(../../fonts/hauora_sans/ttf/Hauora-Bold.ttf) format('ttf');

	font-weight: 700;
	font-style: normal;
}



@font-face {
	font-family: 'Arsenal';
    font-weight: 400;
	font-style: normal;
	src: url(../../fonts/Arsenal-Regular.ttf);

}
