.footer {
    margin-top: 33px;
    width: 100%;
    @media (min-width: 800px) {
        margin-top: 80px;
    }
    &__inner {
        width: 100%;
        border-top: 1px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        padding: 28px 15px 52px 15px;
        .text_fz15_mob {
            &:hover {
                color: #8daaac;
            }
        }
        @media (min-width: 800px) {
            flex-direction: row;
            padding: 23px 0;

        }
    }
    &__col {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    &__main-col {
        justify-content:space-between;
        order: 1;
        @media(min-width:800px) {
            order: 0;
        }
    }
}
.footer__inner {

}
